.tabs {
  .tabsList {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid $color-gray;
    font-family: $font-family-body;
    font-size: $font-size-s;
    line-height: 3.6em;
  }

  .tabEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .72em;
    font-weight: 400;
    color: $color-mediumgray;
    cursor: pointer;

    &:first-child {
      padding-left: 1.44em;
    }

    &:last-child {
      padding-right: 1.44em;
    }

    &:hover,
    &.active {
      color: $color-dark;

      svg {
        opacity: 1;
      }
    }

    &.active {
      font-weight: 600;
    }

    svg {
      display: block;
      margin-right: .5em;
      height: 1.46em;
      width: auto;
      opacity: .3;
    }
  }

  .view {}
}